html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #0b0c11;
}

a {
  text-decoration: none;
  color: #fff;
}

input {
  color: #fff;
}
input:focus {
  outline: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #fff;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #fff;
}

.cursor-pointer {
  cursor: pointer;
}

.header-top {
  background-color: #0b0c11;
}
.header-inner {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}
.header-inner__logo {
  font-family: "Nunito", sans-serif;
  color: #fff;
}
.header-inner__search {
  display: none;
  justify-self: flex-end;
}
.header-inner__input {
  width: 450px;
  padding: 8px;
  border: 1px solid #fff;
  background: inherit;
  display: none;
}
.header-inner__search-icon {
  margin: 0 20px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.header-slider__item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 739px;
  -webkit-box-shadow: inset 0px -104px 62px 16px rgba(0, 0, 0, 0.92);
  -moz-box-shadow: inset 0px -104px 62px 16px rgba(0, 0, 0, 0.92);
  box-shadow: inset 0px -104px 62px 16px rgba(0, 0, 0, 0.92);
}
.header-slider__item--1 {
  background-image: url(../img/header-slider-bg-1.png);
}
.header-slider__item--2 {
  background-image: url(../img/header-slider-bg-2.jpg);
}
.header-slider__item--3 {
  background-image: url(../img/header-slider-bg-3.jpg);
}
.header-slider__item--4 {
  background-image: url(../img/header-slider-bg-4.jpg);
}
.header-slider__item--5 {
  background-image: url(../img/header-slider-bg-5.jpg);
}
.header-slider__logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 555px;
  align-items: flex-end;
}
.header-slider__logo-img {
  width: 430px;
  margin-bottom: 20px;
}
.header-slider__logo--start {
  align-items: flex-start;
}
.header-slider__btn {
  font-size: 18px;
  font-weight: 600;
  padding: 9px 65px 9px 25px;
  border: solid #fff 1px;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: 124px -1px;
  margin-right: 23px;
}
.header-slider__btn:focus {
  outline: none;
}

.header-dots {
  list-style: none;
  display: flex;
  justify-content: center;
  position: relative;
  top: -72px;
}
.header-dots button {
  list-style: none;
  font-size: 0;
  border-radius: 8.5px;
  padding: 8px;
  outline: none;
  background-color: #7e7e7e;
  border: none;
}
.header-dots li + li {
  margin-left: 20px;
}
.header-dots .slick-active button {
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 10px;
}
