$font: 'Nunito', sans-serif;
$color: #0b0c11;
$box-shadow: inset 0px -104px 62px 16px rgba(0,0,0,0.92);

html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit; 
}

body {
    font-family: $font;
    background-color: $color;
}

a {
    text-decoration: none;
    color: #fff;
}

input {
    color: #fff;
    &:focus {
        outline: none;
    }
}

input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder { 
	color: #fff;  
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #fff;
}

.cursor-pointer {
    cursor: pointer;
}

.header {
    &-top {
        background-color: $color;
    }
    &-inner {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        height: 100px;
        align-items: center;
        &__logo {
            font-family: $font;
            color: #fff;
        }
        &__search {
            display: none;
            justify-self: flex-end;
        }
        &__input {
            width: 450px;
            padding: 8px;
            border: 1px solid #fff;
            background: inherit;
            display: none;
        }
        &__search-icon {
            margin: 0 20px;
        }
    }
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.header-slider {    
    &__item {        
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 739px;
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
    }
    &__item--1 {
        background-image: url(../img/header-slider-bg-1.png);
    }
    &__item--2 {
        background-image: url(../img/header-slider-bg-2.jpg);
    }
    &__item--3 {
        background-image: url(../img/header-slider-bg-3.jpg);
    }
    &__item--4 {
        background-image: url(../img/header-slider-bg-4.jpg);
    }
    &__item--5 {
        background-image: url(../img/header-slider-bg-5.jpg);
    }
    &__logo {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-height: 555px;
        align-items: flex-end;
        &-img {
            width: 430px;
            margin-bottom: 20px;
        }        
    }
    &__logo--start {
        align-items: flex-start;
    }
    &__btn {
        font-size: 18px;
        font-weight: 600;
        padding: 9px 65px 9px 25px;
        border: solid #fff 1px;
        background-image: url(../img/arrow.png);
        background-repeat: no-repeat;
        background-position: 124px -1px;
        margin-right: 23px;
        &:focus {
            outline: none;
        }
    }
}

.header-dots {
    list-style: none;
    display: flex;
    justify-content: center;
    position: relative;
    top: -72px;
    button {
        list-style: none;
        font-size: 0;
        border-radius: 8.5px;
        padding: 8px;
        outline: none;
        background-color: #7e7e7e;
        border: none;
    }
    li+li {
        margin-left: 20px;
    }
    .slick-active {
        button {
            background-color: #000;
            border: 2px solid #fff;
            border-radius: 10px;
        }
    }
}
